*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #f5f5f5;
    user-select: none;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.7)),url(./images/73290_9-_93A0832_2018-09-06.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 2% 8%;

}
main{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
height: 85vh;
}
main>.title{
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Edu QLD Beginner', cursive;

}
main>.p_text{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    filter: drop-shadow(5px 5px 5px hsl(0deg 0% 0% / 0.5));
}
#ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
#ul>li{
    list-style: none;
    padding: 0.5rem;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 2rem;
    color: #DC3545;



}
#ul>li>span{
    color: #f5f5f5;
    font-size: 1rem;
    filter: drop-shadow(5px 5px 5px hsl(0deg 0% 0% / 0.5));
    

}
footer{
    font-family: 'Edu QLD Beginner', cursive;
    font-weight: bold;
    filter: drop-shadow(5px 5px 5px hsl(0deg 0% 0% / 0.5));
    height: 10vh;

}

@media only screen and (max-width: 550px) {
    .container{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items:center;
        justify-content: space-between;
        text-align: center;
        flex-direction: column;
        background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.7)),url(./images/73290_9-_93A0832_2018-09-06.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        text-align: center;
        padding: 0% 8%;
            
    }
    main{
    width: 80%;
    }
    .p_text{
        opacity: 0.7;
    }
    #ul{
        width:20%;
        display: flex;
        align-items: center;
        justify-content: center;  
    }
    #ul>li{
        list-style: none;
        font-family: 'Roboto', sans-serif;
        filter: drop-shadow(5px 5px 5px hsl(0deg 0% 0% / 0.5));
    }
    #ul>li>span{
        color: #f5f5f5;
        filter: drop-shadow(5px 5px 5px hsl(0deg 0% 0% / 0.5));
    }
}